body {
    background: #EEEEEE;
    font: 13px "Times New Roman", Times, sans-serif;
    line-height: 1.4;
    margin: 40px 0;
}

em {
    color: #999;
}

p {
    line-height: 1.4;
}

ul {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

#resume {
    margin: 0 auto;
    max-width: 600px;
    padding: 1in 1in;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
}

.nameBlock, .contactBlock, .profilesBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.coursesList {
    width: 28%;
    vertical-align: top;
    display: inline-block;
}

.largeFont {
    font-size: 20px;
}

.smallFont {
    font-size: 13px;
}

.sectionBlock {
    display: flex;
    width: 100%;
}

.sectionName {
    width: 16%;
    vertical-align: top;
    display: inline-block;
}

.sectionContent {
    width: 84%;
    vertical-align: top;
    display: inline-block;
}

.sectionContent ul {
    padding-left: 20px;
    margin-top: 0;
    list-style-type: circle;
}

.sectionContent .title {
    font-weight: bold;
}

.sectionContent .date {
    float: right;
}

.sectionContent .separator {
    border: 1px dashed #CFCFCF;
    margin-top: 4px;
    margin-bottom: 3px;
}

.sectionLine {
    border-style: dashed;
    border-width: 1px;
    border-color: #CFCFCF;
    margin-top: 3px;
    margin-bottom: 7px;
}

.divider {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.summary {
    margin-top: 6px;
}

.jobBlock {
    page-break-inside: avoid;
}

.description {
    text-align: justify;
}

blockquote.reference {
    margin: 0 0 1em;
}


/* Media Queries */

@media only screen and (max-width: 40em) {
    body {
        margin: 0;
        font-size: 14px;
    }
    #resume {
        margin: 0 auto;
        max-width: 600px;
        padding: 0.5em 1em;
        border: none;
    }
    .sectionBlock {
        flex-direction: column;
    }
    .sectionContent {
        width: 100%;
    }
    .sectionContent .date {
        padding-right: 2em;
    }
    .sectionName {
        width: auto;
    }
    .largeFont {
        font-size: 20px;
    }
    .smallFont {
        font-size: 14px;
    }
}

@media print {
    body {
        background: #FFFFFF;
        margin: 0;
    }
    #resume {
        margin: 0 auto;
        padding: 0;
        border: 0;
        max-width: 100%;
        background: #fff;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    a {
        color: black;
    }

    .sectionName {
        width: 14%;
    }

    .sectionContent {
        width: 86%;
    }
}